/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	main: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font: 18px/30px arial, sans-serif;
	background-color: brown;
	color: #333;
}

.topbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
	background-color: #191eeb;
	z-index: 9999;
	border-bottom: 5px solid white;
}

.container {
	width: 960px;
	margin: 80px auto;
	 background-color: white;
	 border: 6px solid silver;
	 position: relative;
}

.twitter {
	width: 100px;
	height: 83px;
	background-image: url(twitter.png);
	background-repeat: no-repeat;
	display: inline-block;
	text-indent: -9999px;
	position: absolute;
	top: 5px;
	right: 1px;
}

.header {
	padding: 20px;
	padding-bottom: 10px;
}

.header .judul{
font-size: 45px;
font-weight: bold;
padding-top: 20px;
}
.header ul li{
	display: inline-block;
	margin-top: 10px;
	margin-right: 10px;
}
.header a{
	text-decoration: none;
	color: red;
	padding: 3px;
}
.header a:hover{
background: lightblue;
}
.hero {
	height: 400px;
	background-image: url(../img/hp.png);
	background-size: cover;
	background-position: 0 -120px;
	border-top: 5px solid red;
	border-bottom: 5px solid lightblue;
}
.main {
	width: 600px;
	padding: 15px;
	box-sizing: border-box;
	float: left;
	padding-top: 20px;
}
.main h2 {
	font-size: 29px;
	font-weight: bold;
	padding: 5px;
}
.main .penulis{
	font-size: 13px;
	padding-left: 5px;
}

.main .penulis a {
	color: red;
	text-decoration: none;
}

.sidebar h3 {
	font-weight: bold;
	color: #666
}
.sidebar img {
	width: 100px;
	height: 70px;
	float: left;
	padding-right: 15px;
	padding-bottom: 8px;
}

.sidebar p {
	font-size: 13px;
	line-height: 15px;
	font-family: arial;
}

.footer {
	background-color: black;
	padding: 15px;
}
.footer .copyright {
	color: #eaeaea;
	text-align: center;
	font-size: 13px;
}





/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}